@model PROG6_2016_Tamagotchi.Models.Tamagotchi

@{
    ViewBag.Title = "Details";
}
<link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
<h2 style="background-color: #d5ddea; padding:10px; border-radius: 4px;" >Details</h2>

<div>
    <h4 style="background-color: #d5ddea; padding:10px; border-radius: 4px;" > Your Tamagotchi</h4>
    <hr />
    <dl  style="background-color: #d5ddea; padding:10px; border-radius: 4px;"class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)

        </dt>
        <dd >
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hunger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hunger)
            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%; background-color:#d6aa8b;">
                100%
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sleep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sleep)
            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%; background-color:#81a9ea;">
                100%
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bored)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bored)
            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%; background-color:#e08282;">
                100%
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Health)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Health)
            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%; background-color:#8bd693;">
                100%
            </div>
        </dd>

    </dl>
</div>


<p style="background-color: #d5ddea; padding:10px; border-radius: 4px;">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })     |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
