@model PROG6_2016_Tamagotchi.Models.Tamagotchi

@{
    ViewBag.Title = "Details";
}
<link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
<h2 style="background-color: #d5ddea; padding:10px; border-radius: 4px;" >Details</h2>

<div>
    <h4 style="background-color: #d5ddea; padding:10px; border-radius: 4px;" > Your Tamagotchi</h4>
    <hr />
    <dl  style="background-color: #d5ddea; padding:10px; border-radius: 4px;"class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)

        </dt>
        <dd >
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hunger)
        </dt>

        <dd>
            <div class="progress-bar" role="progressbar" aria-valuenow="@Html.DisplayFor(model => model.Hunger)" aria-valuemin="0" aria-valuemax="100" style="width:@Html.DisplayFor(model => model.Hunger)%; background-color:#ceb388;">
                @Html.DisplayFor(model => model.Hunger)%
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sleep)
        </dt>

        <dd>
            <div class="progress-bar" role="progressbar" aria-valuenow="@Html.DisplayFor(model => model.Sleep)" aria-valuemin="0" aria-valuemax="100" style="width:@Html.DisplayFor(model => model.Sleep)%; background-color:#88c2ce;">
                @Html.DisplayFor(model => model.Sleep)%
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bored)
        </dt>

        <dd>
            <div class="progress-bar" role="progressbar" aria-valuenow="@Html.DisplayFor(model => model.Bored)" aria-valuemin="0" aria-valuemax="100" style="width:@Html.DisplayFor(model => model.Bored)%; background-color:#db8585;">
                @Html.DisplayFor(model => model.Bored)%
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Health)
        </dt>

        <dd>
            <div class="progress-bar" role="progressbar" aria-valuenow="@Html.DisplayFor(model => model.Health)" aria-valuemin="0" aria-valuemax="100" style="width:@Html.DisplayFor(model => model.Health)%; background-color:#8fe093;">
                @Html.DisplayFor(model => model.Health)%
            </div>
        </dd>

    </dl>
</div>


<p style="background-color: #d5ddea; padding:10px; border-radius: 4px;">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })     |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
