@model IEnumerable<PROG6_2016_Tamagotchi.Models.Tamagotchi>

@{
    ViewBag.Title = "Tamagotchi's";
}
<link type="text/css" rel="stylesheet" href="~/Content/Site.css" />

<h2 style="background-color: #d5ddea; opacity: 1; padding: 10px; border-radius: 4px;">Select your Tamagotchi here</h2>


<p style="background-color: #d5ddea; opacity: 1; padding:5px; border-radius: 4px; ">
    @Html.ActionLink("Create a Tamagotchi", "Create") |
    @Html.ActionLink("Create multiple Tamagotchi", "CreateMultiple") |
    @Html.ActionLink("Refresh All", "Refresh")
</p>
<table class="table" style="background-color: #d5ddea; opacity: 0.9; border-radius: 4px;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hunger)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sleep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bored)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Health)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hunger)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sleep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bored)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Health)
        </td>
        <td>
            @Html.ActionLink("Next", "Details", new { id=item.Id }) 
        </td>
    </tr>
}
</table>
